spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/biroul
    username: biroul_user
    password: biroul_pass

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

server:
  port: 8080

logging:
  level:
    org.flywaydb: DEBUG

